{% comment %}
    Highlight menu item snippet
    Accepts:
    - highlight_effect: {String} Highlight effect, 
    - menu_title: {String} Title of menu,
    - section_id: {String} Section id
    Usage:
    {% render 'highlight-menu-item',
        highlight_effect: highlight_effect,
        menu_title: menu_title,
        section_id: section_id
    %}
{% endcomment %}

{% if highlight_effect == "marker" %}
    <span 
        class="menu-highlight-marker inline-block" 
        x-data="{ isIntersecting: false }" 
        x-intersect.once="isIntersecting = true"
        :class="isIntersecting && 'menu-highlight-anm-marker'"
    >
        {{ menu_title }}
    </span>
{% else %}
    <span class="menu-highlight-underline relative inline-block"
        x-data="{ isIntersecting: false }" 
        x-intersect.once="isIntersecting = true"
        :class="isIntersecting && 'menu-highlight-anm-underline'"
    >
        {{ menu_title }}
        <svg class="svg-highlight-{{ section_id }} svg-underline absolute left-[6%] top-auto bottom-0 w-4/5 h-[15%] rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 12" fill="none" preserveAspectRatio="none"
        >
            <path d="M447.927 2.35583C338.059 -1.20265 110.867 1.8394 6.15217 2.51143C3.52318 2.5283 1.37007 4.83214 1.46495 7.41709C1.54483 9.59366 3.27775 11.2031 5.494 11.159L447.927 2.35583Z" fill="currentColor" stroke="currentColor"/>
        </svg>
    </span>
{% endif %}