<div id="maximize-popup" class="fixed inset-0 z-[60] pointer-events-none md:block flex flex-col-reverse justify-center" x-cloak>
  {% if settings.show_popup_overlay %}
    <div id="Popup__Overlay" class="popup__overlay hidden pointer-events-auto" x-cloak></div>
  {% endif %}
</div>
{%- if settings.position_minimal == 'left' -%}
  <div id="popup-minimal-left" class="fixed z-30 bottom-4 md:bottom-8 left-4 md:left-8 pr-4 md:pr-8 pointer-events-auto text-left"></div>
{%- else -%}
  <div id="popup-minimal-right" class="fixed z-30 bottom-4 md:bottom-8 right-4 md:right-8 pl-4 md:pl-8 pointer-events-auto text-right"></div>
{%- endif -%}
