
  .widget__icon-comparison svg path {
    stroke: rgba(var(--color-text));
  }

  .overlay-body.is-visible {
    z-index: 30;
    visibility: visible;
    opacity: 1;
    background-color: rgba(var(--color-overlay-no-alpha) / 0.3);
}

  .animation-fade-out {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    transition: opacity 0.5s ease, width 0.3s ease 0.5s, padding 0.3s ease 0.5s;
  }

  th {
    font-weight: inherit;
    text-align: inherit;
  }

  .cursor-inherit {
    cursor: inherit;
  }

  .\!cursor-inherit {
    cursor: inherit !important;
  }

  .tooltip-icon-compare:hover ~ .tooltip-popup,
  custom-button:has(.tooltip-icon-compare):hover ~ .tooltip-popup {
    display: flex;
}

  .buy-buttons__compare-button .icon-check-compare path,
  .product-card__comparison-button .icon-check-compare path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: tick 4s forwards;
  }

  .product-compare__arrow-active {
    cursor: pointer;
    opacity: 1;
}

  @media (min-width: 768px) {

    .product-compare__arrow-active {
        opacity: 0.6;
    }

    .product-compare__arrow-active:hover {
        opacity: 1;
    }
}

  .product-compare__arrow-disable {
    cursor: not-allowed;
    opacity: 0.4;
}

  body:has(section.section-product-comparison-overlay) .buy-buttons__compare-button {
    display: block;
  }

  body:not(:has(section.section-product-comparison-overlay)) .product-info__buy-buttons-wrapper.is-hide-cart,
  .product-info__buy-buttons-wrapper.is-hide-cart.no-compare-button {
    margin-bottom: 0px;
}

  @media (min-width: 768px) {
  .md\:max-h-none {
    max-height: none;
  }
}

  @media (max-width: 1023px) {
  .tooltip-icon-compare:focus ~ .tooltip-popup,
  custom-button:has(.tooltip-icon-compare:focus) ~ .tooltip-popup {
        display: flex;
    }
}

  @keyframes tick {
  from {
    stroke-dashoffset: 1000;
  }
 
  to {
    stroke-dashoffset: 0;
  }
}