.utility-bar-right {
  justify-content: flex-end;
}
.utility-bar-right .select-listbox {
  right: 0px;
}
.utility-bar-left .select-listbox {
  left: 0px;
}
.main-nav-mobile-toolbar .social {
  justify-content: flex-start;
}
.main-nav-mobile-toolbar .utility-social {
  text-align: center;
}
.nav-localization__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-width: 1px;
}
.main-nav-mobile-toolbar .localization-form {
  position: static;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}
.main-nav-mobile-toolbar .select-toggle {
  display: inline-flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#x-utility .localization-form {
  position: unset;
}
.main-nav-mobile-toolbar .single-selector .select-button {
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
